kind: Cluster
apiVersion: "kind.x-k8s.io/v1alpha4"
networking:
  disableDefaultCNI: {{disable_cni}}
  podSubnet: {{pod_cidr}}
  serviceSubnet: {{service_cidr}}
nodes:
  - role: control-plane
  - role: worker
