---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: karmada-search
  namespace: karmada-system
  labels:
    app: karmada-search
    apiserver: "true"
spec:
  selector:
    matchLabels:
      app: karmada-search
      apiserver: "true"
  replicas: 2
  template:
    metadata:
      labels:
        app: karmada-search
        apiserver: "true"
    spec:
      automountServiceAccountToken: false
      containers:
        - name: karmada-search
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
          image: docker.io/karmada/karmada-search:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          command:
            - /bin/karmada-search
            - --kubeconfig=/etc/karmada/config/karmada.config
            - --authentication-kubeconfig=/etc/karmada/config/karmada.config
            - --authorization-kubeconfig=/etc/karmada/config/karmada.config
            - --etcd-servers=https://etcd-client.karmada-system.svc.cluster.local:2379
            - --etcd-cafile=/etc/karmada/pki/etcd-client/ca.crt
            - --etcd-certfile=/etc/karmada/pki/etcd-client/tls.crt
            - --etcd-keyfile=/etc/karmada/pki/etcd-client/tls.key
            - --tls-cert-file=/etc/karmada/pki/server/tls.crt
            - --tls-private-key-file=/etc/karmada/pki/server/tls.key
            - --audit-log-path=-
            - --audit-log-maxage=0
            - --audit-log-maxbackup=0
            - --tls-min-version=VersionTLS13
            - --bind-address=$(POD_IP)
            - --logging-format=json
          livenessProbe:
            httpGet:
              path: /livez
              port: 443
              scheme: HTTPS
            failureThreshold: 3
            initialDelaySeconds: 15
            periodSeconds: 15
            timeoutSeconds: 5
          resources:
            requests:
              cpu: 100m
          volumeMounts:
            - name: karmada-config
              mountPath: /etc/karmada/config
            - name: server-cert
              mountPath: /etc/karmada/pki/server
              readOnly: true
            - name: etcd-client-cert
              mountPath: /etc/karmada/pki/etcd-client
              readOnly: true
      volumes:
        - name: karmada-config
          secret:
            secretName: karmada-search-config
        - name: server-cert
          secret:
            secretName: karmada-search-cert
        - name: etcd-client-cert
          secret:
            secretName: karmada-search-etcd-client-cert
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      priorityClassName: system-node-critical
---
apiVersion: v1
kind: Service
metadata:
  name: karmada-search
  namespace: karmada-system
  labels:
    app: karmada-search
    apiserver: "true"
spec:
  ports:
    - port: 443
      protocol: TCP
      targetPort: 443
  selector:
    app: karmada-search
