apiVersion: apps/v1
kind: Deployment
metadata:
  name: karmada-controller-manager
  namespace: karmada-system
  labels:
    app: karmada-controller-manager
spec:
  replicas: 2
  selector:
    matchLabels:
      app: karmada-controller-manager
  template:
    metadata:
      labels:
        app: karmada-controller-manager
    spec:
      automountServiceAccountToken: false
      tolerations:
      - key: node-role.kubernetes.io/master
        operator: Exists
      containers:
        - name: karmada-controller-manager
          image: docker.io/karmada/karmada-controller-manager:latest
          imagePullPolicy: IfNotPresent
          command:
            - /bin/karmada-controller-manager
            - --kubeconfig=/etc/karmada/config/karmada.config
            - --metrics-bind-address=:8080
            - --cluster-status-update-frequency=10s
            - --failover-eviction-timeout=30s
            - --controllers=*,hpaScaleTargetMarker,deploymentReplicasSyncer
            - --feature-gates=PropagationPolicyPreemption=true,MultiClusterService=true
            - --health-probe-bind-address=0.0.0.0:10357
            - --v=4
          livenessProbe:
            httpGet:
              path: /healthz
              port: 10357
              scheme: HTTP
            failureThreshold: 3
            initialDelaySeconds: 15
            periodSeconds: 15
            timeoutSeconds: 5
          ports:
            - containerPort: 8080
              name: metrics
              protocol: TCP
          volumeMounts:
          - name: karmada-config
            mountPath: /etc/karmada/config
      volumes:
        - name: karmada-config
          secret:
            secretName: karmada-controller-manager-config
