on:
  release:
    types:
    - published
name: Build Release
permissions:
  contents: read
jobs:
  release-assests:
    permissions:
      contents: write  # for softprops/action-gh-release to create GitHub release
    name: release kubectl-karmada
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        target:
          - karmadactl
          - kubectl-karmada
        os:
          - linux
          - darwin
        arch:
          - amd64
          - arm64
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
    - name: Making and packaging
      env:
        GOOS: ${{ matrix.os }}
        GOARCH: ${{ matrix.arch }}
      run: make release-${{ matrix.target }}
    - name: Making helm charts
      env:
        VERSION: ${{ github.ref_name }}
      run: make package-chart
    - name: Uploading assets...
      if: ${{ !env.ACT }}
      uses: softprops/action-gh-release@v2
      with:
        files: |
          _output/release/${{ matrix.target }}-${{ matrix.os }}-${{ matrix.arch }}.tgz
          _output/release/${{ matrix.target }}-${{ matrix.os }}-${{ matrix.arch }}.tgz.sha256
  release-crds-assests:
    permissions:
      contents: write  # for softprops/action-gh-release to create GitHub release
    name: release crds
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Rename the crds directory
      run: |
        mv ./charts/karmada/_crds ./charts/karmada/crds
    - name: Tar the crds
      uses: a7ul/tar-action@v1.2.0
      with:
        command: c
        cwd: ./charts/karmada/
        files: crds
        outPath: crds.tar.gz
    - name: Uploading crd assets...
      uses: softprops/action-gh-release@v2
      with:
        files: |
          crds.tar.gz
  release-charts:
    permissions:
      contents: write  # for softprops/action-gh-release to create GitHub release
    name: Release charts
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Making helm charts
      env:
        VERSION: ${{ github.ref_name }}
      run: make package-chart
    - name: Uploading assets...
      if: ${{ !env.ACT }}
      uses: softprops/action-gh-release@v2
      with:
        files: |
          _output/charts/karmada-chart-${{ github.ref_name }}.tgz
          _output/charts/karmada-chart-${{ github.ref_name }}.tgz.sha256
          _output/charts/karmada-operator-chart-${{ github.ref_name }}.tgz
          _output/charts/karmada-operator-chart-${{ github.ref_name }}.tgz.sha256
  sbom-assests:
    permissions:
      contents: write  # for softprops/action-gh-release to create GitHub release
    name: Release sbom
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Generate sbom for karmada file system
      uses: aquasecurity/trivy-action@0.24.0
      with:
        scan-type: 'fs'
        format: 'spdx'
        output: 'sbom-karmada.spdx'
        scan-ref: "/github/workspace/"
    - name: Tar the sbom files
      run: |
        tar -zcf sbom.tar.gz *.spdx
    - name: Uploading sbom assets...
      uses: softprops/action-gh-release@v2
      with:
        files: |
          sbom.tar.gz
  update-krew-index:
    needs: release-assests
    name: Update krew-index
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Update new version in krew-index
      uses: rajatjindal/krew-release-bot@v0.0.46
